# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# Media / Uploaded files
media/

# IDE files
.vscode/
.idea/
.gemini/
